@media (max-width: 799px){
    body{
      padding: 1px 20px 20px  20px;
        background-color:  hsl(257, 40%, 49%);
        justify-content: center;
        align-items: center;
        overflow-y: visible;
        overflow-x: hidden;
        font-family: "Poppins", sans-serif;
        
    }
    .illustration-mockups{
      width: 100%;
    }
    
    body::after{
        
      content: "";
      position: absolute;
      width: 500px;
      height: 500px;
      background-image: url("images/bg-mobile.svg") ;
      background-size: contain;
      background-repeat: no-repeat;
      top: -75px;
      left: -65px;
      z-index: -1
    }
    
    .huddle-container{
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .huddle-container h1{
        color: white;
        font-size: 18px;
    }
    ion-icon {
        color: rgba(255, 255, 255, 0.651);
      }
      .first-container{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-top: 1rem;
        text-align: center;
        align-items: center;
        justify-content: center;
      }
      .content{
        width: 100%;
        margin-top: 1rem;
        font-family: "Open Sans", sans-serif;
      }
      .content h1{
        line-height: 1.5;
        color: #ffff;
        
      }
      .content p{
        line-height: 1.5;
        font-size: 14.5px;
        color: rgba(255, 255, 255, 0.651);
      }
      .btn{
       background-color: white;
        width: 50%;
        padding: 10px;
        font-family: "Poppins", sans-serif;
        color:  hsl(257, 40%, 49%);
        border-radius: 30px;
        border: 1px solid white;
        box-shadow: 0.5px 0.5px 0.5px 0.5px black;
      }
      .footer{
        text-align: center;
        margin-top: 0rem;
        padding-bottom: 5rem;
     }
     .social-icon{
        margin: 5px 5px ;
        border: 1px solid white;
        border-radius: 100px;
        padding: 5px;
        color: white;
      }
      .social{
        margin: 5px 5px ;
        border: 1px solid white;
        border-radius: 100px;
        padding: 5px;
        color: white;
      }
}